/* Sample app component styles */
:host {
  display: block;
  height: 100%;
}

label {
  display: block;
  font-size: 12px;
  color: #8f9ca8;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.form-control {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #dcdfe2;
  border-radius: 2px;
  box-sizing: border-box;
}
